<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.davidferrand.pagingimagegallery">

    <!-- Glide -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PagingImageGallery">
        <activity
            android:name=".GridActivity"
            android:label="Paging Image Gallery: Portal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".recyclerview.vfinal.CarouselActivity"
            android:label="RecyclerView vfinal" />
        <activity
            android:name=".recyclerview.v5.CarouselActivity"
            android:label="RecyclerView v5" />
        <activity
            android:name=".recyclerview.v4.CarouselActivity"
            android:label="RecyclerView v4" />
        <activity
            android:name=".recyclerview.v3.CarouselActivity"
            android:label="RecyclerView v3" />
        <activity
            android:name=".recyclerview.v2.CarouselActivity"
            android:label="RecyclerView v2" />
        <activity
            android:name=".recyclerview.v1.CarouselActivity"
            android:label="RecyclerView v1" />
        <activity
            android:name=".recyclerview.v2paging.CarouselActivity"
            android:label="RecyclerView v2: paging" />
        <activity
            android:name=".recyclerview.v1width.CarouselActivity"
            android:label="RecyclerView v1: aspect ratio" />
        <activity
            android:name=".recyclerview.v0.CarouselActivity"
            android:label="RecyclerView v0" />
        <activity
            android:name=".viewpager.v1.CarouselActivity"
            android:label="ViewPager v1" />
    </application>
</manifest>