<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.davidferrand.pagingimagegallery">

    <!-- Glide -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PagingImageGallery">
        <activity
            android:name=".GridActivity"
            android:label="Paging Image Gallery: Portal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".recyclerview.vfinal.CarouselActivity"
            android:label="vfinal" />
        <activity
            android:name=".recyclerview.v3alpha2.CarouselActivity"
            android:label="v3: maintain spacing" />
        <activity
            android:name=".recyclerview.v3alpha1.CarouselActivity"
            android:label="v3: shrink/grow" />
        <activity
            android:name=".recyclerview.v2final.CarouselActivity"
            android:label="v2: paging" />
        <activity
            android:name=".recyclerview.v1final.CarouselActivity"
            android:label="v1: aspect ratio" />
        <activity
            android:name=".recyclerview.v0.CarouselActivity"
            android:label="v0" />
    </application>
</manifest>